.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
body {
    padding: 10px;
    font-size: 25px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.navbar-custom {
    background-color: #f8f9fa;
}
.navbar-nav .nav-item{
    margin-right: 20px;
}
.search-form {
    margin-left: 40px; /* Adds distance between the "Home" button and search form */
}
.btn-custom-signup {
    border-color: #007bff;
    color: #007bff;
    
}
.btn-custom-signup:hover {
    background-color: #007bff;
    color: #fff;
}
.btn-custom-signin {
    border-color: #28a745;
    color: #28a745;
}
.btn-custom-signin:hover {
    background-color: #28a745;
    color: #fff;
}
.search-form {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

/* Styling the input box */
.search-form .form-control {
    border-radius: 20px;
    border: 2px solid #28a745;
    box-shadow: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-form .form-control:focus {
    border-color: #20c997;
    box-shadow: 0 0 8px rgba(32, 201, 151, 0.5);
}

/* Styling the button */
.search-form .btn-outline-success {
    border-radius: 20px;
    padding: 6px 20px;
    transition: all 0.3s;
}

.search-form .btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
}
